/.vs
/Library
/Logs
/obj
/Packages
/ProjectSettings
/UserSettings
.vsconfig
Assembly-CSharp.csproj
Derevo.sln
/Assets/Scenes
/Assets/Scripts/GlobalConsts
/Temp
*.meta
/Assets/Scripts/Editor
/Assets/Prefabs
/Assets/Audio
/Assets/Libraries
Assets/Main.mixer
/Assets/Render